# `groupby()`
apply on categorical data or data which have repeating values

In [2]:
import pandas as pd 
import numpy as np

In [3]:
i1000 = pd.read_csv("/Data/imdb-top-1000.csv") 
i1000

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [10]:
i1000[i1000['Series_Title'].str.contains('Avengers', case=False) ]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
59,Avengers: Endgame,2019,181,Action,8.4,Anthony Russo,Joe Russo,809955,858373000.0,78.0
60,Avengers: Infinity War,2018,149,Action,8.4,Anthony Russo,Joe Russo,834477,678815482.0,68.0
357,The Avengers,2012,143,Action,8.0,Joss Whedon,Robert Downey Jr.,1260806,623279547.0,69.0

In [3]:
genre = i1000.groupby('Genre')

In [4]:
genre.count()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,172,172,172,172,172,172,172,143
Adventure,72,72,72,72,72,72,72,72,64
Animation,82,82,82,82,82,82,82,82,75
Biography,88,88,88,88,88,88,88,88,79
Comedy,155,155,155,155,155,155,155,155,125
Crime,107,107,107,107,107,107,107,107,87
Drama,289,289,289,289,289,289,289,289,241
Family,2,2,2,2,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,11,11,11,11,11,11,11
Mystery,12,12,12,12,12,12,12,12,8
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,4,4,4,4,4

In [5]:
genre.sum()

C:\Users\hp\AppData\Local\Temp\ipykernel_4576\3785752810.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  genre.sum()

           Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action       22196       1367.3     72282412  3.263226e+10    10499.0
Adventure     9656        571.5     22576163  9.496922e+09     5020.0
Animation     8166        650.3     21978630  1.463147e+10     6082.0
Biography    11970        698.6     24006844  8.276358e+09     6023.0
Comedy       17380       1224.7     27620327  1.566387e+10     9840.0
Crime        13524        857.8     33533615  8.452632e+09     6706.0
Drama        36049       2299.7     61367304  3.540997e+10    19208.0
Family         215         15.6       551221  4.391106e+08      158.0
Fantasy        170         16.0       146222  7.827267e+08        0.0
Film-Noir      312         23.9       367215  1.259105e+08      287.0
Horror        1123         87.0      3742556  1.034649e+09      880.0
Mystery       1429         95.7      4203004  1.256417e+09      633.0
Thriller       108          7.8        27733  1.755074e+07       81.0
Western        593         33.4      1289665  5.822151e+07      313.0

In [10]:
# find the top 3 genres by total earning 
i1000.groupby('Genre').sum().sort_values('Gross', ascending=False).iloc[0:3,3]

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [31]:
i1000.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [11]:
# find the genre with highest avg IMDB rating
i1000.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False)

Genre
Western      8.350000
Crime        8.016822
Fantasy      8.000000
Mystery      7.975000
Film-Noir    7.966667
Drama        7.957439
Action       7.949419
Biography    7.938636
Adventure    7.937500
Animation    7.930488
Horror       7.909091
Comedy       7.901290
Family       7.800000
Thriller     7.800000
Name: IMDB_Rating, dtype: float64

In [39]:
# find director with most popularity 
i1000.groupby('Director')["No_of_Votes"].sum().sort_values(ascending=True).head(1)

Director
Kaige Chen    25088
Name: No_of_Votes, dtype: int64

In [14]:
# find number of movies done by each actor 
i1000.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks             12
Robert De Niro        11
Clint Eastwood        10
Al Pacino             10
Leonardo DiCaprio      9
                      ..
Glen Hansard           1
Giuseppe Battiston     1
Giulietta Masina       1
Gerardo Taracena       1
Ã–mer Faruk Sorak       1
Name: Series_Title, Length: 660, dtype: int64

In [50]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [16]:
# find total number of groups -> len 
len(i1000.groupby('Genre'))

14

In [17]:
i1000['Genre'].nunique()

14

In [18]:
#  find items in each group -> size
i1000.groupby('Genre').size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [22]:
# first()/last() -> nth item 
i1000.groupby('Genre').first() 
i1000.groupby('Genre').last() 
i1000.groupby('Genre').nth(4)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Lord of the Rings: The Two Towers,2002,179,8.7,Peter Jackson,Elijah Wood,1485555,342551365.0,87.0
Adventure,2001: A Space Odyssey,1968,149,8.3,Stanley Kubrick,Keir Dullea,603517,56954992.0,84.0
Animation,Spider-Man: Into the Spider-Verse,2018,117,8.4,Bob Persichetti,Peter Ramsey,375110,190241310.0,87.0
Biography,The Pianist,2002,150,8.5,Roman Polanski,Adrien Brody,729603,32572577.0,85.0
Comedy,3 Idiots,2009,170,8.4,Rajkumar Hirani,Aamir Khan,344445,6532908.0,67.0
Crime,Cidade de Deus,2002,130,8.6,Fernando Meirelles,KÃ¡tia Lund,699256,7563397.0,79.0
Drama,Soorarai Pottru,2020,153,8.6,Sudha Kongara,Suriya,54995,556832648.0,NaN
Horror,Night of the Living Dead,1968,96,7.9,George A. Romero,Duane Jones,116557,89029.0,89.0
Mystery,Kahaani,2012,122,8.1,Sujoy Ghosh,Vidya Balan,57806,1035953.0,NaN

In [25]:
# i1000[i1000['Genre']=='Biography']
i1000.groupby('Genre').get_group('Biography')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
15,Goodfellas,1990,146,Biography,8.7,Martin Scorsese,Robert De Niro,1020727,46836394.0,90.0
18,Hamilton,2020,160,Biography,8.6,Thomas Kail,Lin-Manuel Miranda,55291,440984783.0,90.0
35,The Intouchables,2011,112,Biography,8.5,Olivier Nakache,Ã‰ric Toledano,760360,13182281.0,57.0
38,The Pianist,2002,150,Biography,8.5,Roman Polanski,Adrien Brody,729603,32572577.0,85.0
...,...,...,...,...,...,...,...,...,...,...
923,La Vie En Rose,2007,140,Biography,7.6,Olivier Dahan,Marion Cotillard,82781,10301706.0,66.0
940,Finding Neverland,2004,106,Biography,7.6,Marc Forster,Johnny Depp,198677,51680613.0,67.0
949,Blow,2001,124,Biography,7.6,Ted Demme,Johnny Depp,240714,52990775.0,52.0
952,The Hurricane,1999,146,Biography,7.6,Norman Jewison,Denzel Washington,91557,50668906.0,74.0
987,Midnight Express,1978,121,Biography,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0

In [31]:
i1000.groupby('Genre').sample(1) # one random row in every group 
i1000.groupby('Genre').describe() # explain every numerical column group wize 
i1000.groupby('Genre').nunique()  # no. of unique value in every group

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [32]:
# agg function -- for different aggregate function on different column after group by 
i1000.groupby('Genre').agg({
    "Runtime":'mean',
    "IMDB_Rating": "mean",
    "No_of_Votes":"sum",
    "Gross":"sum"   
})

              Runtime  IMDB_Rating  No_of_Votes         Gross
Genre
Action     129.046512     7.949419     72282412  3.263226e+10
Adventure  134.111111     7.937500     22576163  9.496922e+09
Animation   99.585366     7.930488     21978630  1.463147e+10
Biography  136.022727     7.938636     24006844  8.276358e+09
Comedy     112.129032     7.901290     27620327  1.566387e+10
Crime      126.392523     8.016822     33533615  8.452632e+09
Drama      124.737024     7.957439     61367304  3.540997e+10
Family     107.500000     7.800000       551221  4.391106e+08
Fantasy     85.000000     8.000000       146222  7.827267e+08
Film-Noir  104.000000     7.966667       367215  1.259105e+08
Horror     102.090909     7.909091      3742556  1.034649e+09
Mystery    119.083333     7.975000      4203004  1.256417e+09
Thriller   108.000000     7.800000        27733  1.755074e+07
Western    148.250000     8.350000      1289665  5.822151e+07

In [33]:
# passing list 
i1000.groupby('Genre').agg(['min','max','sum'])

                              Series_Title  \
                                       min
Genre
Action                                 300
Adventure            2001: A Space Odyssey
Animation                            Akira
Biography                 12 Years a Slave
Comedy                (500) Days of Summer
Crime                         12 Angry Men
Drama                                 1917
Family          E.T. the Extra-Terrestrial
Fantasy       Das Cabinet des Dr. Caligari
Film-Noir                Shadow of a Doubt
Horror                               Alien
Mystery                          Dark City
Thriller                   Wait Until Dark
Western    Il buono, il brutto, il cattivo

                                                \
                                           max
Genre
Action                                 YÃ´jinbÃ´
Adventure                           Zombieland
Animation          Ã”kami kodomo no Ame to Yuki
Biography                              Zerkalo
Comedy                Zindagi Na Milegi Dobara
Crime                        Ã€ bout de souffle
Drama                                Zwartboek
Family     Willy Wonka & the Chocolate Factory
Fantasy                              Nosferatu
Film-Noir                        The Third Man
Horror                               The Thing
Mystery                                Vertigo
Thriller                       Wait Until Dark
Western                 The Outlaw Josey Wales

                                                             Released_Year  \
                                                         sum           min
Genre
Action     The Dark KnightThe Lord of the Rings: The Retu...          1924
Adventure  InterstellarBack to the FutureInglourious Bast...          1925
Animation  Sen to Chihiro no kamikakushiThe Lion KingHota...          1940
Biography  Schindler's ListGoodfellasHamiltonThe Intoucha...          1928
Comedy     GisaengchungLa vita Ã¨ bellaModern TimesCity Li...          1921
Crime      The GodfatherThe Godfather: Part II12 Angry Me...          1931
Drama      The Shawshank RedemptionFight ClubForrest Gump...          1925
Family     E.T. the Extra-TerrestrialWilly Wonka & the Ch...          1971
Fantasy                Das Cabinet des Dr. CaligariNosferatu          1920
Film-Noir   The Third ManThe Maltese FalconShadow of a Doubt          1941
Horror     PsychoAlienThe ThingThe ExorcistNight of the L...          1933
Mystery    MementoRear WindowVertigoShutter IslandKahaani...          1938
Thriller                                     Wait Until Dark          1967
Western    Il buono, il brutto, il cattivoOnce Upon a Tim...          1965

                                                                   Runtime  \
            max                                                sum     min
Genre
Action     2019  2008200320102001200219991980197719621954200019...      45
Adventure    PG  2014198520091981196819621959201319751963194819...      88
Animation  2020  2001199419882016201820172008199719952019200920...      71
Biography  2020  1993199020202011200220171995198420182013201320...      93
Comedy     2020  2019199719361931200919641940200120001973196019...      68
Crime      2019  1972197419571994200219991995199120192006199519...      80
Drama      2020  1994199919941975202019981946201420061998198819...      64
Family     1982                                           19821971     100
Fantasy    1922                                           19201922      76
Film-Noir  1949                                       194919411943     100
Horror     2017       19601979198219731968196120171978193320042001      71
Mystery    2012   200019541958201020121995197219381988201219981997      96
Thriller   1967                                               1967     108
Western    1976                                   1966196819651976     132

                      IMDB_Rating  ...  \
           max    sum         min  ...
Genre                              ...
Action     321  22196         7.6  ...
Adventure  228   9656         7.6  ...
Animation  137   8166         7.6  ...
Biography  209  11970         7.6  ...
Comedy     188  17380         7.6  ...
Crime      229  13524         7.6  ...
Drama      242  36049         7.6  ...
Family     115    215         7.8  ...
Fantasy     94    170         7.9  ...
Film-Noir  108    312         7.8  ...
Horror     122   1123         7.6  ...
Mystery    138   1429         7.6  ...
Thriller   108    108         7.8  ...
Western    165    593         7.8  ...

                                                       Star1 No_of_Votes  \
                                                         sum         min
Genre
Action     Christian BaleElijah WoodLeonardo DiCaprioElij...       25312
Adventure  Matthew McConaugheyMichael J. FoxBrad PittJÃ¼rg...       29999
Animation  Daveigh ChaseRob MinkoffTsutomu TatsumiRyÃ»nosu...       25229
Biography  Liam NeesonRobert De NiroLin-Manuel MirandaÃ‰ri...       27254
Comedy     Kang-ho SongRoberto BenigniCharles ChaplinChar...       26337
Crime      Marlon BrandoAl PacinoHenry FondaJohn Travolta...       27712
Drama      Tim RobbinsBrad PittTom HanksJack NicholsonSur...       25088
Family                               Henry ThomasGene Wilder      178731
Fantasy                             Werner KraussMax Schreck       57428
Film-Noir           Orson WellesHumphrey BogartTeresa Wright       59556
Horror     Anthony PerkinsSigourney WeaverKurt RussellEll...       27007
Mystery    Guy PearceJames StewartJames StewartLeonardo D...       33982
Thriller                                      Audrey Hepburn       27733
Western    Clint EastwoodHenry FondaClint EastwoodClint E...       65659

                                    Gross                             \
               max       sum          min          max           sum
Genre
Action     2303232  72282412       3296.0  936662225.0  3.263226e+10
Adventure  1512360  22576163      61001.0  874211619.0  9.496922e+09
Animation   999790  21978630     128985.0  873839108.0  1.463147e+10
Biography  1213505  24006844      21877.0  753585104.0  8.276358e+09
Comedy      939631  27620327       1305.0  886752933.0  1.566387e+10
Crime      1826188  33533615       6013.0  790482117.0  8.452632e+09
Drama      2343110  61367304       3600.0  924558264.0  3.540997e+10
Family      372490    551221    4000000.0  435110554.0  4.391106e+08
Fantasy      88794    146222  337574718.0  445151978.0  7.827267e+08
Film-Noir   158731    367215     449191.0  123353292.0  1.259105e+08
Horror      787806   3742556      89029.0  298791505.0  1.034649e+09
Mystery    1129894   4203004    1035953.0  474203697.0  1.256417e+09
Thriller     27733     27733   17550741.0   17550741.0  1.755074e+07
Western     688390   1289665    5321508.0   31800000.0  5.822151e+07

          Metascore
                min    max      sum
Genre
Action         33.0   98.0  10499.0
Adventure      41.0  100.0   5020.0
Animation      61.0   96.0   6082.0
Biography      48.0   97.0   6023.0
Comedy         45.0   99.0   9840.0
Crime          47.0  100.0   6706.0
Drama          28.0  100.0  19208.0
Family         67.0   91.0    158.0
Fantasy         NaN    NaN      0.0
Film-Noir      94.0   97.0    287.0
Horror         46.0   97.0    880.0
Mystery        52.0  100.0    633.0
Thriller       81.0   81.0     81.0
Western        69.0   90.0    313.0

[14 rows x 27 columns]

In [34]:
# combining the both 
i1000.groupby('Genre').agg({
    "Runtime":['mean','max'],
    "IMDB_Rating": ["mean","min"],
    "No_of_Votes":"sum",
    "Gross":["sum","mean"]    
})

              Runtime      IMDB_Rating      No_of_Votes         Gross  \
                 mean  max        mean  min         sum           sum
Genre
Action     129.046512  321    7.949419  7.6    72282412  3.263226e+10
Adventure  134.111111  228    7.937500  7.6    22576163  9.496922e+09
Animation   99.585366  137    7.930488  7.6    21978630  1.463147e+10
Biography  136.022727  209    7.938636  7.6    24006844  8.276358e+09
Comedy     112.129032  188    7.901290  7.6    27620327  1.566387e+10
Crime      126.392523  229    8.016822  7.6    33533615  8.452632e+09
Drama      124.737024  242    7.957439  7.6    61367304  3.540997e+10
Family     107.500000  115    7.800000  7.8      551221  4.391106e+08
Fantasy     85.000000   94    8.000000  7.9      146222  7.827267e+08
Film-Noir  104.000000  108    7.966667  7.8      367215  1.259105e+08
Horror     102.090909  122    7.909091  7.6     3742556  1.034649e+09
Mystery    119.083333  138    7.975000  7.6     4203004  1.256417e+09
Thriller   108.000000  108    7.800000  7.8       27733  1.755074e+07
Western    148.250000  165    8.350000  7.8     1289665  5.822151e+07


                   mean
Genre
Action     1.897224e+08
Adventure  1.319017e+08
Animation  1.784326e+08
Biography  9.404952e+07
Comedy     1.010572e+08
Crime      7.899656e+07
Drama      1.225259e+08
Family     2.195553e+08
Fantasy    3.913633e+08
Film-Noir  4.197018e+07
Horror     9.405902e+07
Mystery    1.047014e+08
Thriller   1.755074e+07
Western    1.455538e+07

In [38]:
# find the highest rated movie of each genre 
i1000[i1000['IMDB_Rating'] ==  i1000.groupby('Genre')['IMDB_Rating'].max().values ]   # this is wrong

ValueError: ('Lengths must match to compare', (1000,), (14,))

In [45]:
# looping in group 
df = pd.DataFrame(columns=i1000.columns) 
for group,data in i1000.groupby('Genre'):
    df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])  
df

C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])
C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2709539910.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data['IMDB_Rating']==data['IMDB_Rating'].max()])

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
23,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
26,La vita Ã¨ bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
81,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313.0,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

# ` movies['Series_Title'].str.startswith('A') : Work on column work row wise` 
# ` apply() : work group by group (not row by row) - decorator of groups

In [47]:
# split (apply) combine
# apply -> builtin function

i1000.groupby('Genre').apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. IÃ±Ã¡rritu,Aamir Khan,26337,1305.0,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600.0,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro AmenÃ¡bar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [59]:
def fun(group):
    return group['Series_Title'].str.startswith('A').sum()

In [60]:
# find number of movies starting with A for each group 

i1000.groupby('Genre').apply(fun)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [64]:
t1 = i1000[i1000['Series_Title'].str.startswith("A")] 
t1.value_counts('Genre')

Genre
Drama        21
Comedy       14
Action       10
Biography     9
Crime         4
Adventure     2
Animation     2
Horror        1
dtype: int64

In [71]:
# find ranking of each movie in the group according to IMDB score 
def fun(group):
    group['genre_ranking']=group['IMDB_Rating'].rank(ascending=False) 
    return group

In [72]:
i1000.groupby('Genre').apply(fun)

C:\Users\hp\AppData\Local\Temp\ipykernel_4576\2172022893.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  i1000.groupby('Genre').apply(fun)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,genre_ranking
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0,1.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0,1.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0,1.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0,2.5
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0,147.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0,272.5
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0,272.5
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0,272.5
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0,101.0

In [11]:
def normal(group):
    group['Normalized_IMDB'] = (group['IMDB_Rating']-group['IMDB_Rating'].min())/(group['IMDB_Rating'].max()-group['IMDB_Rating'].min())
    
    return group

In [12]:
# find normalizd IMDB rating of every group (genre)
i1000.groupby('Genre').apply(normal)

C:\Users\hp\AppData\Local\Temp\ipykernel_7344\2525573517.py:2: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  i1000.groupby('Genre').apply(normal)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,Normalized_IMDB
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0,1.000
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0,1.000
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0,1.000
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0,0.875
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0,0.875
...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0,0.000
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0,0.000
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0,0.000
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0,0.000
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0,0.000

In [26]:
# Group by more then one column 
i1000.groupby(['Director','Star1']).size()  
i1000.groupby(['Director','Star1']).get_group(('Aamir Khan','Amole Gupte') )

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN

In [28]:
# find the most earning actor->director combo 
i1000.groupby(['Star1','Director'])['Gross'].sum().sort_values(ascending=False)

Star1            Director
ToshirÃ´ Mifune   Akira Kurosawa          2.999877e+09
Joe Russo        Anthony Russo           2.205039e+09
William Holden   Billy Wilder            1.286779e+09
Christian Bale   Christopher Nolan       1.242940e+09
Klaus Kinski     Werner Herzog           1.124605e+09
                                             ...
Won Bin          Jeong-beom Lee          6.460000e+03
Paddy Considine  Shane Meadows           6.013000e+03
Jared Leto       Jaco Van Dormael        3.600000e+03
Til Schweiger    Thomas Jahn             3.296000e+03
Ulrich Thomsen   Anders Thomas Jensen    1.305000e+03
Name: Gross, Length: 898, dtype: float64

In [33]:
i1000['Metascore'] = i1000['Metascore'].fillna(i1000['Metascore'].mean())

In [39]:
# find the best(in-terms of metascore(avg)) actor->genre combo 
i1000.groupby(['Star1','Genre'])['Metascore'].mean().reset_index()

                    Star1      Genre  Metascore
0              Aamir Khan     Action  77.971530
1              Aamir Khan  Adventure  84.000000
2              Aamir Khan     Comedy  75.228648
3    Aaron Taylor-Johnson     Action  66.000000
4              Abhay Deol      Drama  77.971530
..                    ...        ...        ...
824  Zbigniew Zamachowski     Comedy  88.000000
825       Zooey Deschanel     Comedy  76.000000
826        Ã‡etin Tekindor      Drama  77.971530
827         Ã‰ric Toledano  Biography  57.000000
828      Ã–mer Faruk Sorak     Comedy  77.971530

[829 rows x 3 columns]

In [40]:
# with group by 
i1000.groupby(['Star1','Genre']).agg(['mean','min','max'])

C:\Users\hp\AppData\Local\Temp\ipykernel_7344\1367437592.py:2: FutureWarning: ['Series_Title', 'Released_Year', 'Director'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  i1000.groupby(['Star1','Genre']).agg(['mean','min','max'])

                               Runtime           IMDB_Rating            \
                                  mean  min  max        mean  min  max
Star1                Genre
Aamir Khan           Action     160.50  160  161         8.3  8.2  8.4
                     Adventure  224.00  224  224         8.1  8.1  8.1
                     Comedy     168.25  153  183         8.2  8.1  8.4
Aaron Taylor-Johnson Action     117.00  117  117         7.6  7.6  7.6
Abhay Deol           Drama      144.00  144  144         8.0  8.0  8.0
...                                ...  ...  ...         ...  ...  ...
Zbigniew Zamachowski Comedy      92.00   92   92         7.6  7.6  7.6
Zooey Deschanel      Comedy      95.00   95   95         7.7  7.7  7.7
Ã‡etin Tekindor       Drama      112.00  112  112         8.3  8.3  8.3
Ã‰ric Toledano        Biography  112.00  112  112         8.5  8.5  8.5
Ã–mer Faruk Sorak     Comedy     110.00  110  110         8.0  8.0  8.0

                               No_of_Votes                         Gross  \
                                      mean     min     max          mean
Star1                Genre
Aamir Khan           Action       102889.5   49300  156479  1.128718e+08
                     Adventure    105036.0  105036  105036  7.014700e+04
                     Comedy       171561.5   66803  344445  4.911586e+06
Aaron Taylor-Johnson Action       524081.0  524081  524081  4.807130e+07
Abhay Deol           Drama         28749.0   28749   28749  1.095000e+04
...                                    ...     ...     ...           ...
Zbigniew Zamachowski Comedy        64390.0   64390   64390  1.464625e+06
Zooey Deschanel      Comedy       472242.0  472242  472242  3.239137e+07
Ã‡etin Tekindor       Drama         78925.0   78925   78925  4.618554e+08
Ã‰ric Toledano        Biography    760360.0  760360  760360  1.318228e+07
Ã–mer Faruk Sorak     Comedy        33592.0   33592   33592  2.001787e+08

                                                          Metascore            \
                                        min          max       mean       min
Star1                Genre
Aamir Khan           Action      12391761.0  213351844.0  77.971530  77.97153
                     Adventure      70147.0      70147.0  84.000000  84.00000
                     Comedy        300000.0   10616104.0  75.228648  67.00000
Aaron Taylor-Johnson Action      48071303.0   48071303.0  66.000000  66.00000
Abhay Deol           Drama          10950.0      10950.0  77.971530  77.97153
...                                     ...          ...        ...       ...
Zbigniew Zamachowski Comedy       1464625.0    1464625.0  88.000000  88.00000
Zooey Deschanel      Comedy      32391374.0   32391374.0  76.000000  76.00000
Ã‡etin Tekindor       Drama      461855363.0  461855363.0  77.971530  77.97153
Ã‰ric Toledano        Biography   13182281.0   13182281.0  57.000000  57.00000
Ã–mer Faruk Sorak     Comedy     200178699.0  200178699.0  77.971530  77.97153


                                     max
Star1                Genre
Aamir Khan           Action     77.97153
                     Adventure  84.00000
                     Comedy     77.97153
Aaron Taylor-Johnson Action     66.00000
Abhay Deol           Drama      77.97153
...                                  ...
Zbigniew Zamachowski Comedy     88.00000
Zooey Deschanel      Comedy     76.00000
Ã‡etin Tekindor       Drama      77.97153
Ã‰ric Toledano        Biography  57.00000
Ã–mer Faruk Sorak     Comedy     77.97153

[829 rows x 15 columns]

In [41]:
ipl = pd.read_csv('/Data/deliveries.csv')

In [42]:
ipl.shape

(179078, 21)

In [44]:
ipl.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [47]:
# Highest runscores 
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).reset_index()

          batsman  batsman_runs
0         V Kohli          5434
1        SK Raina          5415
2       RG Sharma          4914
3       DA Warner          4741
4        S Dhawan          4632
5        CH Gayle          4560
6        MS Dhoni          4477
7      RV Uthappa          4446
8  AB de Villiers          4428
9       G Gambhir          4223

In [51]:
# find the batsman with max no of sixes
df2 = ipl[ipl['batsman_runs']==6] 
df2.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(10)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
V Kohli           191
DA Warner         181
SR Watson         177
KA Pollard        175
YK Pathan         161
Name: batsman_runs, dtype: int64

In [54]:
# find batsman with most number of 4's and 6's in last 5 overs 
df2 = ipl[((ipl['batsman_runs']==6)| (ipl['batsman_runs']==4))& ipl['over'].between(15,20)]  
df2.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
MS Dhoni          383
RG Sharma         253
KA Pollard        249
AB de Villiers    245
V Kohli           192
                 ...
DT Patil            1
Shivam Sharma       1
Avesh Khan          1
Sohail Tanvir       1
K Upadhyay          1
Name: batsman_runs, Length: 364, dtype: int64

In [62]:
# find V Kohli's record against all teams
df2 = 
df3 = ipl.groupby(['batsman','bowling_team'])['batsman_runs'].sum().sort_values(ascending=False).reset_index()   
df3[df3['batsman']=='V Kohli']

      batsman             bowling_team  batsman_runs
8     V Kohli         Delhi Daredevils           763
9     V Kohli      Chennai Super Kings           749
17    V Kohli    Kolkata Knight Riders           675
29    V Kohli          Kings XI Punjab           636
30    V Kohli           Mumbai Indians           628
50    V Kohli      Sunrisers Hyderabad           509
113   V Kohli         Rajasthan Royals           370
168   V Kohli          Deccan Chargers           306
187   V Kohli            Gujarat Lions           283
346   V Kohli  Rising Pune Supergiants           188
513   V Kohli            Pune Warriors           128
754   V Kohli   Rising Pune Supergiant            83
890   V Kohli           Delhi Capitals            66
1071  V Kohli     Kochi Tuskers Kerala            50

In [78]:
# Create a function that can return the highest score of any batsman 
df1 = ipl[ipl['batsman']=='V Kohli'] 
df1.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

113

In [79]:
def highest(player):
    df1 = ipl[ipl['batsman']==player] 
    return df1.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [81]:
highest('AB de Villiers')

133

In [82]:
highest('KA Pollard')

87

## First filter the data then apply group by